APP_NAME=Alpha4Sport API
API_V1_PREFIX=/api/v1
SECRET_KEY=change-me-in-prod
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+psycopg://alpha4sport:alpha4sport@db:5432/alpha4sport
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,http://localhost:5173,https://fit.ileonov.ru
UPLOAD_DIR=/app/uploads
